<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insightful Emotions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"
        integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <h1>Insights</h1>

    <h5>Stats</h5>

    <h6>Total number of snapshots created: <%= noSnapshots %>
    </h6>

    <div class="emotion-averages">
        <table>
            <tr>
                <th colspan="2">Average Emotion Intensities</th>
            </tr>
            <tr>
                <td>Anger</td>
                <td>
                    <%= emotionAverages.ang %>
                </td>
            </tr>
            <tr>
                <td>Contempt</td>
                <td>
                    <%= emotionAverages.cont %>
                </td>
            </tr>
            <tr>
                <td>Disgust</td>
                <td>
                    <%= emotionAverages.disg %>
                </td>
            </tr>
            <tr>
                <td>Enjoyment</td>
                <td>
                    <%= emotionAverages.enj %>
                </td>
            </tr>
            <tr>
                <td>Fear</td>
                <td>
                    <%= emotionAverages.fear %>
                </td>
            </tr>
            <tr>
                <td>Sadness</td>
                <td>
                    <%= emotionAverages.sad %>
                </td>
            </tr>
            <tr>
                <td>Surprise</td>
                <td>
                    <%= emotionAverages.surp %>
                </td>
            </tr>
        </table>

        <div>
            <canvas id="barchart" width="600px" height="250px" style="background-color: white;"></canvas>
        </div>


    </div>

    <div class="trigger-class">
        <table>
            <tr>
                <th colspan="2">Top 3 Contextual Triggers</th>
            </tr>
            <tr>
                <td> <u>Trigger</u></td>
                <td> <u>Mentioned in:</u></td>
            </tr>
            <tr>
                <td>
                    <%= topTriggers[0].trigger %>
                </td>
                <td>
                    <%= topTriggers[0].count %> snapshots
                </td>
            </tr>
            <tr>
                <td>
                    <%= topTriggers[1].trigger %>
                </td>
                <td>
                    <%= topTriggers[1].count %> snapshots
                </td>
            </tr>
            <tr>
                <td>
                    <%= topTriggers[2].trigger %>
                </td>
                <td>
                    <%= topTriggers[2].count %> snapshots
                </td>
            </tr>
        </table>
    </div>

    <div class="trigger-class">
        <table>
            <tr>
                <th colspan="2">When <b>
                        <%= topTriggers[0].trigger%>
                    </b> is mentioned </th>
            </tr>
            <tr>
                <td>Anger</td>
                <td>
                    <%= formattedTrig1Averages.ang %>
                </td>
            </tr>
            <tr>
                <td>Contempt</td>
                <td>
                    <%= formattedTrig1Averages.cont %>
                </td>
            </tr>
            <tr>
                <td>Disgust</td>
                <td>
                    <%= formattedTrig1Averages.disg %>
                </td>
            </tr>
            <tr>
                <td>Enjoyment</td>
                <td>
                    <%= formattedTrig1Averages.enj %>
                </td>
            </tr>
            <tr>
                <td>Fear</td>
                <td>
                    <%= formattedTrig1Averages.fear %>
                </td>
            </tr>
            <tr>
                <td>Sadness</td>
                <td>
                    <%= formattedTrig1Averages.sad %>
                </td>
            </tr>
            <tr>
                <td>Surprise</td>
                <td>
                    <%= formattedTrig1Averages.surp %>
                </td>
            </tr>
        </table>
    </div>

    <div class="trigger-class">
        <table>
            <tr>
                <th colspan="2">When <b>
                        <%= topTriggers[1].trigger%>
                    </b> is mentioned </th>
            </tr>
            <tr>
                <td>Anger</td>
                <td>
                    <%= formattedTrig2Averages.ang %>
                </td>
            </tr>
            <tr>
                <td>Contempt</td>
                <td>
                    <%= formattedTrig2Averages.cont %>
                </td>
            </tr>
            <tr>
                <td>Disgust</td>
                <td>
                    <%= formattedTrig2Averages.disg %>
                </td>
            </tr>
            <tr>
                <td>Enjoyment</td>
                <td>
                    <%= formattedTrig2Averages.enj %>
                </td>
            </tr>
            <tr>
                <td>Fear</td>
                <td>
                    <%= formattedTrig2Averages.fear %>
                </td>
            </tr>
            <tr>
                <td>Sadness</td>
                <td>
                    <%= formattedTrig2Averages.sad %>
                </td>
            </tr>
            <tr>
                <td>Surprise</td>
                <td>
                    <%= formattedTrig2Averages.surp %>
                </td>
            </tr>
        </table>
    </div>

    <div class="trigger-class">
        <table>
            <tr>
                <th colspan="2">When <b>
                        <%= topTriggers[2].trigger%>
                    </b> is mentioned </th>
            </tr>
            <tr>
                <td>Anger</td>
                <td>
                    <%= formattedTrig3Averages.ang %>
                </td>
            </tr>
            <tr>
                <td>Contempt</td>
                <td>
                    <%= formattedTrig3Averages.cont %>
                </td>
            </tr>
            <tr>
                <td>Disgust</td>
                <td>
                    <%= formattedTrig3Averages.disg %>
                </td>
            </tr>
            <tr>
                <td>Enjoyment</td>
                <td>
                    <%= formattedTrig3Averages.enj %>
                </td>
            </tr>
            <tr>
                <td>Fear</td>
                <td>
                    <%= formattedTrig3Averages.fear %>
                </td>
            </tr>
            <tr>
                <td>Sadness</td>
                <td>
                    <%= formattedTrig3Averages.sad %>
                </td>
            </tr>
            <tr>
                <td>Surprise</td>
                <td>
                    <%= formattedTrig3Averages.surp %>
                </td>
            </tr>
        </table>
    </div>

    </div>


    <div>
        <h5>Emotion Tracker</h5>
        <div>
            <canvas id="linechart"></canvas>
        </div>



    </div>

    <script>


        //bar chart set up and config

        const xlabels = ["Anger", "Contempt", "Disgust", "Enjoyment", "Fear", "Sadness", "Surprise"];
        const avEmotionData = [`<%= emotionAverages.ang %>`, `<%= emotionAverages.cont %>`, `<%= emotionAverages.disg %>`,
            `<%= emotionAverages.enj %>`, `<%= emotionAverages.fear %>`, `<%= emotionAverages.sad %>`, `<%= emotionAverages.surp %>`];

        const labels = xlabels;
        const chartdata = {
            labels: labels,
            datasets: [{
                axis: 'y',
                data: avEmotionData,
                backgroundColor: [
                    'rgba(207, 0, 15, 0.8)',
                    'rgba(112, 128, 144, 0.8)',
                    'rgba(107, 142, 35, 0.8)',
                    'rgba(255, 223, 0, 0.8)',
                    'rgba(0, 0, 139, 0.8)',
                    'rgba(70, 130, 180, 0.8)',
                    'rgba(255, 165, 0, 0.8)'
                ]
            }]
        };

        const barconfig = {
            type: 'bar',
            data: chartdata,
            options: {
                indexAxis: 'y',
                responsive: false,
                animation: true,
                maintainAspectRatio: true,
                scales: { x: { min: 0, max: 10 } },
                plugins: {
                    legend: { display: false },
                    tooltips: { enabled: true },
                    title: {
                        display: true,
                        text: "Average Intensities",
                        font: { size: 16 }
                    }
                }

            }
        };


        // line chart set up and config- help from ChatGPT

        const linelabels = extractAllDateTimeCreated(JSON.parse(`<%- JSON.stringify(apiData) %>`));

        function extractAllDateTimeCreated(data) {
            let allDateTimeCreated = [];

            data.forEach(item => {
                // Iterate over each object in the 'snap' array of the item
                item.snap.forEach(snapItem => {
                    // Assuming each snapItem has a 'datetime_created' property
                    if (snapItem.datetime_created) {
                        allDateTimeCreated.push(snapItem.datetime_created);
                    }
                });
            });

            return allDateTimeCreated;
        }

        const angerData = extractEmotionIntensities(JSON.parse(`<%- JSON.stringify(apiData) %>`), 'ang');
        const contemptData = extractEmotionIntensities(JSON.parse(`<%- JSON.stringify(apiData) %>`), 'cont');
        const disgustData = extractEmotionIntensities(JSON.parse(`<%- JSON.stringify(apiData) %>`), 'disg');
        const enjoymentData = extractEmotionIntensities(JSON.parse(`<%- JSON.stringify(apiData) %>`), 'enj');
        const fearData = extractEmotionIntensities(JSON.parse(`<%- JSON.stringify(apiData) %>`), 'fear');
        const sadnessData = extractEmotionIntensities(JSON.parse(`<%- JSON.stringify(apiData) %>`), 'sad');
        const surpriseData = extractEmotionIntensities(JSON.parse(`<%- JSON.stringify(apiData) %>`), 'surp');

        function extractEmotionIntensities(data, emotionKey) {
            let allIntensities = [];

            data.forEach(item => {
                item[emotionKey].forEach(emotionItem => {
                    // Extract the 'intensity' property from each emotion item
                    allIntensities.push(emotionItem.intensity);
                });
            });

            return allIntensities;
        }

        const linedata = {
            labels: linelabels,
            datasets: [{
                label: 'Anger',
                data: angerData,
                fill: false,
                borderColor: 'rgb(207, 0, 15, 0.8)',
                tension: 0.1
            },
            {
                label: 'Contempt',
                data: contemptData,
                fill: false,
                borderColor: 'rgb(112, 128, 144, 0.8)',
                tension: 0.1
            },
            {
                label: 'Disgust',
                data: disgustData,
                fill: false,
                borderColor: 'rgb(107, 142, 35, 0.8)',
                tension: 0.1
            },
            {
                label: 'Enjoyment',
                data: enjoymentData,
                fill: false,
                borderColor: 'rgb(255, 223, 0, 0.8)',
                tension: 0.1
            },
            {
                label: 'Fear',
                data: fearData,
                fill: false,
                borderColor: 'rgb(0, 0, 139, 0.8)',
                tension: 0.1
            },
            {
                label: 'Sadness',
                data: sadnessData,
                fill: false,
                borderColor: 'rgb(70, 130, 180, 0.8)',
                tension: 0.1
            },
            {
                label: 'Surprise',
                data: surpriseData,
                fill: false,
                borderColor: 'rgb(255, 165, 0, 0.8)',
                tension: 0.1
            }

        ]
        };
    

        const lineconfig = {
            type: 'line',
            data: linedata,
            options: {
                responsive: true,
                animation: true,
                maintainAspectRatio: true,
                scales: { y: { min: 0, max: 10 } },
                plugins: {
                    legend: { display: true },
                    tooltips: { enabled: false },
                    title: {
                        display: true,
                        text: "Average Intensities",
                        font: { size: 16 }
                    }
                }

            }
        };


        const barChart = new Chart('barchart', barconfig);
        const lineGraph = new Chart('linechart', lineconfig);
    </script>
</body>

</html>